<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="Sample Headline">
    <meta name="description" content="">
    <meta name="page_type" content="np-template-header-footer-from-plugin">
    <meta name="generator" content="Nicepage 3.9.0, nicepage.com">

    <meta property="og:title" content="Locations">

    <meta property="og:type" content="website">
    <meta name="theme-color" content="#478ac9">

    <meta property="og:url" content="index.html">
    <title>{% block title %}Welcome!{% endblock %}</title>

    {% block css %}
        <link rel="stylesheet" href="  {{ asset('nicepage.css') }}" media="screen">
        <link rel="stylesheet" href=" {{ asset('location.css') }}" media="screen">

        <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i">
        <link rel="canonical" href="{{ asset('index.html') }}">
    {% endblock %}

    {% block js %}


    {% endblock %}
</head>
<body>
{% block body %}

{% endblock %}
</body>
</html>
